<div class="row">
  <div class="col-xs-4 col-xs-push-4 form">
    <h1>Editing Article</h1>
    <%= render 'form' %>
    <p>
      <%= link_to 'Show Article', @article %> |
      <%= link_to 'Back', articles_path %>
    </p>
  </div>
</div>